<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instruments">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/instruments_logo"
        android:label="Инструменты"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instruments"
        android:allowBackup="true">
        <activity android:name=".Level" android:screenOrientation="landscape" android:label="@string/name_level"/>
        <activity android:name=".Counter" android:screenOrientation="portrait" android:label="@string/name_counter"/>
        <activity android:name=".Dice" android:screenOrientation="portrait" android:label="@string/name_dice"/>
        <activity android:name=".Coinflip" android:screenOrientation="portrait" android:label="@string/name_heads_and_tails"/>
        <activity android:name=".Flashlight" android:screenOrientation="portrait" android:label="@string/name_flashlight"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>